a,
.selectUnderline {
  color: #0e1c33;
  display: inline-block;
}

a:hover {
  text-decoration: none;
  color: #0e1c33;
}

a:after,
.selectUnderline:after {
  content: "";
  width: 0px;
  height: 3px;
  display: block;
  background: #fbb0a9;
  transition: 300ms;
}

a:hover:after,
.selectUnderline:hover:after {
  width: 100%;
  color: #0e1c33;
}

.logo {
  margin-top: 20px;
  height: 80px;
  width: 80px;
}

.header {
  background-color: #0e1c33;
  height: 15%;
  text-align: center;
  padding: 10px;
}

.footer {
  background-color: #0e1c33;
  color: white;
  text-align: center;
  font-size: 12px;
  height: 22%;
  padding: 15px;
}

.mainContainer {
  text-align: center;
  padding: 30px;
  min-height: 100vh;
}

.calendar-container {
  text-align: center;
  margin-left: 20px;
  padding: 30px;
  height: auto;
  width: 400px;
}

.title {
  font-family: "Raleway", sans-serif !important;
  font-size: 2.5em;
  color: whitesmoke;
}

.heroModal {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  width: 50vw;
  text-align: center;
  display: inline-block;
}

.modalHeading {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.modalSubHeading {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.modalBody {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  align-content: center;
  align-items: center;
}


.color-empty {
  fill: #eeeeee;
}

.color-null {
  fill: gray;
}

 .react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
